<!--https://www.railstutorial.org/book/_single-page#fig-layout_no_logo_or_custom_css -->

<div class="center jumbotron">
  <h1>Welcome to my Bookly App</h1>

  <h2>
    This is the home page for the Contacts app by Taylor Jenkins
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>
